
body{
   
    background:radial-gradient(circle at center,black 0,#112240,#0a192f,midnightblue,black 100%)
    
 }

#main{
   padding-left: 30vw;
}
 
.kl{
    
    
    
    overflow: hidden;
    padding: 0;
    margin: auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
     width: 100%;
    height: 80px;
    border-radius: 10px;
  
    

}

nav{
    margin: 0;
    padding: 0;
    display: flex;
    
    
}
.img1{
    display: flex;
    align-items: center;

}
.img1 img{
    width: 150px;
    height: 50px;
}

nav ul  {
    display: flex;
    }

a{
    
    color: white;
    text-decoration: none;
    padding: 0 23px;
}
/*a:hover{
    color: coral;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/
nav ul button{
    background-color: #0a192f;
    color: white;
    border: 1px solid #64ffda;
    text-align: center;
    padding: 0%;
    margin-left: 50px;
    height: 30px;
    border-radius: 10px;


}
nav ul button:hover{
      color: black;
      font-weight: 900;
      background-color: midnightblue;
      box-shadow: 5px 5px white;
      

}
.jl{
    display: flex;
    flex-direction:row;
    margin-top: 100px;
    margin-bottom: 100px;
    

    
}
.first{
    
    text-align: left;
    padding: 0;
    margin-left: 30px;
    color: white;
    width: 80%;
    
    padding-top: 50px;
    
}
.first img{
    width: 50px;
    height: 50px;
}
.ab{
    padding: 0%;
    font-size: 20px;
    font-weight: 70px;
   left: 20px;
    
    color:#64ffda;
   /* font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;*/
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.ad{
    padding: 0%;
    font-size: 20px;
    font-weight: 70px;
    
    color:#a8b2d1;
   /* font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;*/
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}



.ac{
    padding: 0%;margin: 0%;
    text-decoration: solid;
    color: #ccd6f6;
   left: 20px;
    font-size: 70px;
    font-weight: 1000;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;;
}
.jl button {
    background-color: #112240; /* Green */

    border: 2px solid#64ffda ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
  }
 .jl button:hover{
      color: aliceblue;
      font-weight: 900;
      background-color: #233554;
  }
  .second{
      padding: 30px;
      margin: 0;
      font-style: oblique;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
div img{
    width: 300px;
    height:300px;
    border-radius: 40px;
}
  .bp{
      font-weight: bolder;
      font-size: x-large;
  }
  .ho{
      
      color: aliceblue;
      margin: 20px;padding: 20px;
      width: 70%;
      margin-left: 140px;

      
}
div h1{
    text-align: center;
}
.ho p{
    text-align: center;
} 
.ho p:hover{
    transition-delay:1s;
    
    font-size: large;
    
    
}
.ho h1{
    text-decoration: underline;
}
  
 .insta{
     position: fixed;
     left: 5px;
     top: 100px;
 }
 .twitter{
    position: fixed;
    left: 5px;
    top: 155px;
}
.facebook{
    position: fixed;
    left: 5px;
    top: 210px;
}
.gmail{
    position: fixed;
    left: 5px;
    top: 265px;
}
